/* style.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.difficulty-buttons {
  margin-bottom: 25vmax; /* Ajoute un espacement en bas des boutons */
  margin-right: -13.4vmax;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.cell:hover {
  background-color: #eee;
}



/* Ajouter des règles pour les écrans de taille réduite (par exemple, moins de 600px) */
@media only screen and (max-width: 1400px) {
  body {
    flex-direction: column; /* Change la direction à la verticale */
    align-items: center;
  }

  .difficulty-buttons {
    margin-bottom: 15px; /* Ajuste l'espacement en bas des boutons pour les écrans plus petits */
    margin-right: 0; /* Supprime la marge à droite pour éviter que les boutons ne rentrent dans le morpion */
  }
}